* {
	margin: 0;
	padding: 0;
}

#calc {
	width: 300px;
	height: 600px;
	border: 1px solid #555;
}

#out {
	height: 100px;
	padding: 10px;
	display: flex;
}
#out input {
	width: 250px;
	height: 60px;
	font-size: 22px;
	margin: auto;
}

#buttons {
	height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

.button {
	width: 65px;
	height: 70px;
	background-color: #DDD;
	border: 1px solid #555;
	display: flex;
	cursor: pointer;
}

.button:hover {
	background-color: #AAA;
	color: white;
}

.button:active {
	background-color: #888;
	color: white;
}

.button p {
	margin: auto;
	font-size: 22px;
	font-weight: bold;
}